<section>
  <article>
    <h3>INTERPOLAÇÃO</h3>
    <p>Stringzada: {{ url }}</p>
    <p>Resultado 1 + 1 {{ 1 + 1}}</p>
    <p>Resultado 1 + 1 + getValor {{ 1 + 1 + getValor()}}</p>
  </article>

  <article>
    <h3>Property binding</h3>
    <img [src]="urlImagem"/>
  </article>

  <article>
    <h3>Class e Style </h3>
    <div>
      Seleciona uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br/><br/>

      <div class="alert {{ classe.value }}">
        Texto colorido de acordo com o valor do select!!!!
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="classe.value == 'alert-success'">
        Sucessozada
      </div>
      <div class="alert" role="alert"
        [class.alert-info]="classe.value == 'alert-info'">
        Infozada
      </div>
      <div class="alert" role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'">
        Warningzada
      </div>
      <div class="alert" role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'">
        Dangerzada
      </div>

      <div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
        Texto só aparece em caso de erro!!!!
      </div>
    </div>
  </article>

  <article>
    <h3>Eventos</h3>
    <div>
      <button class="btn btn-primary" (click)="clickBotao()">
        Clique aqui amigão!
      </button>

      <br/><br/>

      <input type="text" #campoInput
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
      />
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <br/><br/>
      <span
       (mouseover)="onMouseOverOut()"
       (mouseout)="onMouseOverOut()"
       [class.highlight]="isMouseOver"
       >
       Passe o mouse aqui!!!?!?!?!??!!!</span>

    </div>
  </article>

  <article>
    <h3>Two-Way data Binding</h3>
    <div>
      <input type="text" [(ngModel)]="pessoa.nome" placeholder="Nome..."/>
      <input type="number" [(ngModel)]="pessoa.idade" placeholder="Idade...."/>

      <p>Meu nome é {{ pessoa.nome }}, e minha idade é: {{ pessoa.idade }} </p>
    </div>
  </article>

</section>

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    <app-curso [nome]="nomeCurso"></app-curso>

    <contador [valor]="valorInicial" (mudouValor)="onChangeValor($event)"></contador>
  </article>

</section>
